@media screen and (max-width: 768px) {
	.wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	.header-main {
		width:100%
	}
	.main {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

	}
	.img__figure {
		max-width: 100%;
	}
	.wrap-block {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

	}
	.post {
		display: flex;
		flex-direction: column;
		flex-wrap:wrap;
	}
	.post__img {
		display: flex;
		justify-content: center;
	}
	.post__foto {
		float: none;

	}
	.sidebar {
		width: 100%;
	}
	.content {
		width: 100%;
	}
	.menu {
		display: none;
	}
	#touch-menu {
		display: block;
	}
	.main-footer {
		width: 100%;
	}

}