.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  padding: 120px 23px 80px 23px;
  /*box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
  @include boxSh();

  &__content {
    padding: 0 0 0 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: -5px 5px 2px -4px
  }
  &__subtitle {
    text-align: center;
    font-size: 2rem;
    color: #2b2a2c;
    font-weight: 200;
  }
  &__title {
    text-align: center;
    margin-bottom: 28px;
    font-size: 2.5rem;
    color: #2b2a2c;
    font-weight: 700;
  }
  &__text {
    margin-bottom: 28px;
    font-size: 1.2rem;
    color: rgba(43, 42, 44, 0.7);
    text-align: center;

  }
  &__img {
    width: 45%;
  }
  &__photo {
    box-shadow: -9px -1px 4px -6px;
    max-width: 100%;

  }

}

@media (max-width:768px) {
  .intro{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .intro__content {
    width: 100%;
  }
  .intro__img {
    display: none;
  }

}









