.menu {
  margin:auto;
  width: 100%;
  height: auto;
  top: 107px;
  //background: #e5e5e5;
  opacity: 0;
  /* Полупрозрачный фон */
  //box-shadow: 9px 0px 2px -4px rgba(0, 0, 0, 0.3);
  //right: 100px;
  max-width:80%;
  position: absolute;
  z-index: 30;
  transition: 1s;
  &.active {
    opacity: 0.9;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
  }
  &__item {
    width: 100%;
    border-bottom: 1px solid #ffffff;

  }

  &__link {
    color: #151414;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    position: relative;
    padding: 20px 0;
    &:hover {
      width: 100%;
      color: red;
      border-bottom: solid #136018;
    }
  }


  &__link:first-child {
    padding-top: 10px;
  }
}


@media screen and (max-width: 668px) {
  .menu {
    background: #000;
    min-width: 320px;
    &.active {
     width: 100vh;
     top: 100px;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__link {
      color: #ffffff;
      line-height: 2rem;
    }
  }
}


@media screen and (max-width: 404px) {
  .menu {
    &.active {
      top: 120px;
    }
  }
}






