.menu {
  width: 100%;
  height: auto;
  top: 107px;
  //background: #e5e5e5;
  opacity: 0;
  /* Полупрозрачный фон */
  //box-shadow: 9px 0px 2px -4px rgba(0, 0, 0, 0.3);
  right: 100px;
  max-width:80%;
  position: absolute;
  z-index: 30;
  transition: 1s;
  &.active {
    opacity: 0.9;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
  }
  &__item {

  }
  &__link {
    color: #151414;
    font-weight: 700;
    line-height: 140%;
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    position: relative;
  }
  &__link:after {
    content: "";
    width: 0;
    height: 2px;
    background: #2b2a2c;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 62;
    -webkit-transition: width .2s linear;
    -o-transition: width .2s linear;
    transition: width .2s linear;
  }
  &__link:hover {
    width: 100%;
    color: red;
  }
  &__link:first-child {
    padding-top: 10px;
  }
}


@media screen and (max-width: 668px) {
  .menu {
    background: #000;
    min-width: 320px;
    &.active {
     width: 100vh;
     top: 100px;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__link {
      color: #ffffff;
      line-height: 2rem;
    }
  }
}


@media screen and (max-width: 404px) {
  .menu {
    &.active {
      top: 120px;
    }
  }
}






