
.c-hamburger {
  display:block;
  position:absolute;
  left: 0;
  z-index: 900;
  margin:auto;
  width: 50px;
  height: 50px;
  color: #ffffff;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  /*background: linear-gradient(#F3AE0F, #E38916) #E38916;*/
  background: linear-gradient(to bottom, #f5ae00 0%, #f59500 36%, #f5ae00 100%) ;

  box-shadow: 0 0 0 60px rgba(0,0,0,0.1) inset, .1em .1em .2em #777;
  /*transition-delay: 0.1s;*/
  &:hover {
    background: linear-gradient(to top, #b5dbc8 0%,#828c95 36%,#28343b 100%);
    outline: none;
    transition: background 0s 0.1s;
  }
  &:focus {
    outline: none;
  }
  & span {
    display: block;
    position: absolute;
    top:50%;
    left: 8px;
    right: 8px;
    height: 2px;
    background: #ffffff;
  }
  & span::before, & span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    content: "";
  }
  & span::before {
    top: -10px;
  }
  & span::after {
    bottom: -10px;
  }
  &-line.is-active span::before {
    top: 0;
    transform: rotate(-45deg);
  }
  &-line.is-active span::after {
    bottom: 0;
    transform: rotate(45deg);
  }
  &-line.is-active span::before,
  &-line.is-active span::after{
    transition-delay:0s,0.3s ;
  }
}



